In [4]:
'''
raffles off vigilantes

Inputs:
    ENTRIES:
        dataframe with columns: 
            address (str) - addresses entered in the raffle
            num_raffle_tickets (float) - number of raffle tickets per account 
    SEED:
        randomly selected string (usually a block hash)
    TOKENS_TO_RAFFLE:
        list of token IDs to raffle
Outputs: 
    prints list of winners
'''

ENTRIES='vigilante_raffle_tickets.csv' 
SEED='0xb33c92b3314a54ff975657a66861b307628db4f735ce8eb05b71f610ddfb51' #Ethereum block# 14386035 hash
TOKENS_TO_RAFFLE = [1,2,3,4,5,6,7,8,9,10,69,420]


import pandas as pd
import random

entry_df=pd.read_csv(ENTRIES)
random.seed(SEED)
entry_df['ticket_index']=entry_df['num_raffle_tickets'].cumsum()

def draw_raffle(entries):
    max_number = entries['num_raffle_tickets'].sum()#number drawn will be below this
    random_number = random.uniform(0,max_number)
    print('Random Number: '+str(random_number))
    row_iterator = entries.iterrows()
    #iterate through entries until the address that has ticket >= random number
    for index, row in entries.iterrows():
        if row['ticket_index']>=random_number:
            return row['address']
            
for token in TOKENS_TO_RAFFLE:
    print('raffling vigilante #' +str(token))
    print(draw_raffle(entry_df))

raffling token #1
Random Number: 259.1892464387877
0x8fa18bcffc01366a0e29b99cf1c372f86e61ffcb
raffling token #2
Random Number: 382.3913246786655
0xee90b5c09d1786bc0491eb4df8c5be6335cb5d94
raffling token #3
Random Number: 28.064849995863334
0x2df7733027338982c9f145ed52da9fb026b7ffec
raffling token #4
Random Number: 62.62936161417214
0x2df7733027338982c9f145ed52da9fb026b7ffec
raffling token #5
Random Number: 150.6262486135677
0x4d1184b7e24b7d2f9d83df7ec66ca45d2843cd11
raffling token #6
Random Number: 103.75382496173886
0x42cebff3adf64633eb4186a8774e945b1ba9ec44
raffling token #7
Random Number: 397.0891876068211
0xfeb2b508a27e5ae8cfa78e5c6c84b57b7eddc6ee
raffling token #8
Random Number: 246.20873193101698
0x8d7c9ae01050a31972adaafae1a4d682f0f5a5ca
raffling token #9
Random Number: 261.3911300793231
0x94b77cac7240feaba6d61ff4875aa261cf9c72ba
raffling token #10
Random Number: 262.9259103621494
0x94da628b4b562152d9a25a6926a64d55148b83c9
raffling token #69
Random Number: 160.28380350435643
0x50e75dd6892a2138c611c5b7f3d3143c4b242ecb
raffling token #420
Random Number: 373.51330045293355
0xec039376a3a946c7d116a48e1afb93fcc146eeae

In [5]:
entry_df

,address,num_minted,price,num_raffle_tickets,ticket_index
0,0x0078ac6e2ef054974a5848eddc2c48f21b7db786,1,0.1,1.0,1.00
1,0x0810865e731dc1cd9b38487c02c33571fe58bedb,1,0.1,1.0,2.00
2,0x0b9ef309141bb050238d8a73d1fed0dec50a5405,3,0.1,3.0,5.00
3,0x112325a63a4c534bc9a00c5549e87184238562b6,1,0.1,1.0,6.00
4,0x190cff3a6740e092aef02acc6f2929a44547c6c8,3,0.1,3.0,9.00
...,...,...,...,...,...
103,0xee90b5c09d1786bc0491eb4df8c5be6335cb5d94,6,0.1,6.0,386.32
104,0xf29c6918459339ce1d152f84fb271652956c5c5f,2,0.1,2.0,388.32
105,0xf6cd494f62e156090bf0034481b891426b8177ac,2,0.1,2.0,390.32
106,0xf9567f184de6b1fcf617850de093f78f6c78b0f6,5,0.1,5.0,395.32
107,0xfeb2b508a27e5ae8cfa78e5c6c84b57b7eddc6ee,2,0.1,2.0,397.32

In [98]:
draw_raffle(entry_df)

Random Number: 5.383413788371326

'charlie'

In [100]:
draw_raffle(entry_df)

Random Number: 1.4756500064970401

'bob'